* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: helvetica;
  font-weight: 500;
  color: #7B7B7B;
}

img {
  display: block;
}

body {
  height: 100vh;
  overflow: hidden;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.05fr .50fr .30fr .20fr 0fr;
      grid-template-columns: 0.05fr .50fr .30fr .20fr 0fr;
  padding: 0 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #181818;
  text-transform: uppercase;
  font-size: .8rem;
  border-bottom: 2px solid #242227;
}

#playlist {
  height: 100%;
  background-color: #121212;
}

.song {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.05fr .50fr .30fr .20fr 0fr;
      grid-template-columns: 0.05fr .50fr .30fr .20fr 0fr;
  padding: 0 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.song-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.song-info__img {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.song-info__img img {
  width: inherit;
}

.song .filter {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.song-info__artists {
  font-size: .8rem;
  margin-top: 5px;
}

.song:hover > .filter {
  opacity: .1;
}

.song + .song {
  border-top: 1px solid #242227;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 150px;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
}

.controls-song-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.controls-song-info__img {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.controls-song-info__img img {
  width: inherit;
}

.controls-song-info__song-name {
  margin-bottom: 10px;
  color: white;
}

.controls-song-info__artists {
  font-size: .8rem;
}

.playback {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playback-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.playback-controls button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.playback-controls button i {
  color: black;
}

.playback-controls button:nth-child(odd) {
  font-size: 1.3rem;
}

.playback-controls button:nth-child(2) {
  font-size: 3rem;
}

.playback-bar {
  height: 3px;
  width: 340px;
  background-color: #5C5C5C;
  cursor: pointer;
}

.playback-bar__slider {
  height: 100%;
  width: 0;
  background-color: white;
}

i {
  pointer-events: none;
}

.playback-time__position, .playback-time__duration {
  font-size: .8rem;
}

.playback-time__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playback-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer, #playlist {
  text-transform: capitalize;
}

audio {
  position: absolute;
  top: 0;
  pointer-events: none;
}
/*# sourceMappingURL=styles.css.map */